<div class="user-details">
  <h1>我其实啥都不会，但也要装啊对吧</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>比较会的</h2>
    <p>Java and Android Development, C/C++, Python, C#, XML, Markdown. 当然啦, 还有唱, 跳, rap, 篮球拉>_<.</p>
  </div>
  <div class="tech">
    <h2>不太会但想学的</h2> 
    <p>完美的234m/s斜飞N港, SQLite, Fragment, HTML, JS, CSS(否则这个页面也不会这么丑陋了对吧), Git(第一天实习checkout不出来被嘲笑了)</p>
  </div>
  <div class="tech">
    <h2>想做的事</h2>
    <p>带瑞白吃玩遍天下，顺便给他找个后妈</p>
  </div>
</div>
